<div class="uk-section">
  <div class="uk-container">
    <img style="height:150px; display:block; margin-left:auto; margin-right:auto;" src="images/logo_bw_cropped.png" alt="Parc Clematis">
    <p>A quality development by SingHaiYi Group</p>
    <p class="uk-margin-small uk-text-muted">Copyright &#169; 2019</p>
  </div>
</div>
