<div class="uk-section">
  <div class="uk-container">
    <p>All enquiries welcome.</p>
    <a class="uk-margin-small" href="contact.html">Contact Us</a>
    <p><span uk-icon="icon: receiver"></span> 96840215</p>
    <p><span uk-icon="icon: mail"></span> mail@parcclematis-launch.sg</p>
    <p class="uk-margin-small-top"><a href="https://orangeteenewhomes.com/R004906B">Other quality projects</a></p>
    <p class="uk-margin-small uk-text-muted">Copyright &#169; 2019</p>
  </div>
</div>
