<img id="nav-logo" src="/images/logo_white.png" alt="Parc Clematis">
<div id="nav-sub">
  <a class="uk-align-center" href="contact.html"><span uk-icon="icon: receiver"></span> Contact Us</a><span> to arrange VIP viewing now!</span>
</div>
<div id="nav" class="uk-flex uk-flex-center uk-flex-wrap">
  <a rel="canonical" href="/">Home</a>
  <a rel="canonical" href="details.html">Details</a>
  <a rel="canonical" href="location.html">Location</a>
  <a rel="canonical" href="developer.html">Developer</a>
</div>
