/* Color Schemes

#afa195 - main accent, light brown
#563518 - main theme, dark brown

*/
h1, h2, h3, h4, h5, h6, * {
  font-family: 'Noto Sans HK', sans-serif;
}

html {
  min-width: 200px;
  background-color: rgb(248, 248, 248)
}

.uk-section {
  -webkit-animation: fadein 0.8s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.8s; /* Firefox < 16 */
  -ms-animation: fadein 0.8s; /* Internet Explorer */
  -o-animation: fadein 0.8s; /* Opera < 12.1 */
  animation: fadein 0.8s;
}

footer {
  background-image: url("/images/backgrounds/scribble_light_@2X.png");
  border-top: 2px solid #afa195;
}
ul>span {
  margin-top: 20px;
}
thead>tr:not(:first-child)>th {
  color: #563518;
}

th[colspan], td[rowspan] {
  background-color: #afa195;
  color: white;
}

td[rowspan] {
  padding: 10px 4px !important;
  text-align: center;
}

th[rowspan] {
  border-style: hidden;
  border-right: 2px solid #afa195;
}

th[colspan], tr:last-child>th:first-child {
  border-left: 2px solid #afa195;
}

a:hover {
  text-decoration: none !important;
}
.contact-button {
  border-color: #afa195;
  border-radius: 5px;
}
.contact-button>a {
  color: #666;
}
.center-img {
  display: block;
  margin: 0 auto;
}
.floorplans>a{
  display:inline-block;
  width:150px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #666;
  border-radius: 5px;
  text-align: center;
  color: #563518;
}
.remove-padding, .remove-padding * {
  padding: 0px;
}
.uk-checkbox {
  width:20px;
  height:20px;
  border-color: #563518;
}
.uk-table {
  border: 2px solid #afa195;
}
.uk-section {
  padding-top: 20px;
}

.uk-tile {
  padding-top: 20px;
  padding-bottom: 20px;
}

.uk-slidenav-previous {
  left: 20px;
}

.uk-slidenav-next {
  right: 20px;
}


/* Chevron animation on links */
footer>div>div>a, .uk-tile>a {
  background-color: transparent;
  color: #563518;
  font-size: 18px;
  padding: 7px;
  border: 1px solid #666;
  border-radius: 5px;
}

footer>div>div>a {
  left: 50%;
  transform: translateX(-50%);
}

footer>div>div>a, .uk-tile>a {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

footer>div>div>a:after, .uk-tile>a:after {
  opacity: 0;
  content: '>';
  position: absolute;
  right: -10px;
  transition: 0.5s;
}

footer>div>div>a:hover, footer>div>div>a:focus, .uk-tile>a:hover, .uk-tile>a:focus {
  padding-right: 25px;
  color: #563518;
}

footer>div>div>a:hover:after, .uk-tile>a:hover:after {
  opacity: 1;
  right: 10px;
}

/* headlines with lines */
.title-decorated {
  margin-top: 20px;
  overflow: hidden;
  text-align: center;
}

.title-decorated>span {
  line-height: 60px;
  display: inline-block;
  position: relative;
}

.title-decorated>span:before, .title-decorated>span:after {
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 8px groove #afa195;
  width: 600px;
  /* half of limiter*/
  margin: 0 20px;
}

.title-decorated>span:before {
  right: 100%;
}

.title-decorated>span:after {
  left: 100%;
}

/* display background image */
#home-logo-container {
  position: relative;
}

#home-logo-container::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url('/images/home/clematis-sketch.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: .25;
  content: "";
  z-index: 1;
}

footer p {
  text-align: center;
  margin: 0px;
}
footer p>a{
  color: #563518;
  text-decoration: underline;
}
footer p>a:hover {
  color: #563518;
}
footer>.uk-section {
  padding-bottom:30px;
}
#alt-logo {
  display: none;
  margin: 0 auto;
}

#contact-card {
  position: relative;
  top: -100px;
  border-bottom: 5px groove #afa195;
  padding: 20px;
  margin-bottom:-100px;
}
#contact-column {
  position: relative;
  left: -20%;
}
#contact-column img {
  max-height:200px;
}
#contact-info {
  text-align: left;
}
#contact-info p {
  margin-top:0px;
  margin-bottom:10px;
}
#contact-info img {
  max-height: 220px;
}
#contact-info>div>div:first-child>.uk-text-lead {
  text-align:right;
}
#contact-interior {
  position: relative;
  left: 50%;
  bottom:10px;
  bottom: 20%;
}
#contact-sketch {
  max-height:400px;
}
#contact-table {
  width:75%;
  margin: 0 auto;
}
#details-text {
  text-align:center;
  position: relative;
  right:15px;
  top: 100px;
}
#details-tower {
  max-height: 350px;
}
#home-logo {
  display: block;
  margin: 0 auto;
  padding-right: 0px;
}

#nav {
  padding-top: 60px;
}

#nav-sub {
  color: #563518;
  background-color: #563518;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px 0px;
  text-align: center;
  font-size: 18px;
}

#nav-logo {
  position: fixed;
  top: 5px;
  left: 20px;
  height: 50px;
  float: left;
  margin-left: 20px;
  vertical-align: -20%;
  z-index: 3;
}

#nav-sub * {
  color: white !important;
}
#whatsapp i {
  font-size: 2rem;
}
#whatsapp {
  color:green;
  background-color: white;
  float:right;
  white-space:nowrap;
  overflow: hidden;
  text-overflow:clip;
  position: sticky;
  bottom: 40px;
  right: 20px;
  padding: 7px;
  border: 2px solid green;
  border-radius: 30px;
  transition: 0.5s;
}
#whatsapp>span {
  position: absolute;
  left: 10px;
  bottom: 13px;
  transition: 0.5s;
}

#nav a, #nav-sub a {
  color: #563518;
  display: inline-block;
  width: 150px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-size: 20px;
}

#nav a:hover, #nav a:active, #nav-sub a:hover, #nav-sub a:active, #active {
  box-shadow: 0 3px #999;
}

/* Screen sizing */
/* medium breakpoint */
@media screen and (max-width: 960px) {

  .uk-tile:not(.uk-tile-muted):not(.uk-tile-default) {
    text-align: center;
  }

  .uk-table-small td {
    font-size: 13px;
    padding: 6px 8px;
  }

  #alt-logo {
    display: block;
    background-color: transparent;
    border: 3px groove #afa195;
    width: 50%;
  }

  #contact-card {
    top: -70px;
    margin-bottom:-70px;
  }
  #contact-card h2 {
    margin-bottom: 15px;
    font-size: 22px;
  }
  #nav-logo {
    display: none;
  }
}

/* small breakpoint */
@media screen and (max-width: 640px) {
  td[rowspan] {
    padding: 5px 0px !important;
  }

  #alt-logo {
    width: 70%;
  }
  #contact-table{
    width:100%;
  }
  #contact-info>div>div:first-child>.uk-text-lead {
    text-align: center;
  }
  #contact-info>div>div:last-child {
    margin-top: 10px;
  }
  .uk-tile {
    padding: 15px;
  }

  .uk-slidenav-previous {
    left: 10px;
    vertical-align: 20%;
  }

  .uk-slidenav-next {
    right: 10px;
  }
  .floorplans>a {
    margin:2px;
  }
  .title-decorated>span {
    line-height:normal;
  }

  .title-decorated>span:before, .title-decorated>span:after {
    margin: 0px 10px;
  }
  #contact-info * {
    text-align:center;
  }
  #nav a, #nav-sub a {
    font-size: 16px;
    width: 80px;
    padding: 5px;
    margin: 3px;
  }

  #nav-sub a {
    font-size: 18px;
    width: auto;
  }

  #nav-sub>span {
    display: none;
    margin: 10px 0px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #whatsapp {
    position:relative;
  }
}
@media screen and (max-width: 1000px) {
  #whatsapp {
    padding-left: 7px;
  }
  #whatsapp>span {
    opacity:0;
  }
  #whatsapp:hover, #whatsapp:focus {
    padding-left: 115px;
  }
  #whatsapp:hover>span, #whatsapp:focus>span {
    opacity:1;
  }
}
@media screen and (min-width: 1000px) {
  #whatsapp {
    bottom: 60px;
    padding-left: 115px;
  }
}
/* Animations */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
